@import "foundation/all";

.Button {
  display: flex;
  background-color: $btn-primary-bg;
  color: $btn-primary-color;
  border: none;
  padding: map-get($spacing, "xxs");
  &:active {
    background-color: $btn-primary-bg-hover;
  }
}
